# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

# TODO: Extract common actions to reusable workflow

name: Build Plugin

permissions:
    contents: write

on: # TODO: When release is drafted, build, attest, and attach
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  release:
    types: [ published ]

jobs:
  build:
    runs-on: windows-2025

    steps:
    - name: Checkout Repository
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
    
    - name: Install SteamCMD
      id: steamcmd
      run: |
        winget install --accept-source-agreements -e --id Valve.SteamCMD
        echo "STEAMCMD=$(Split-Path $(Get-Command steamcmd).Source)" >> $GITHUB_ENV
    
    - name: Install Nuclear Option
      id: noinstall
      run: steamcmd +@ShutdownOnFailedCommand 1 +@NoPromptForPassword 1 +login anonymous +app_update 3930080 validate +quit
      
    - name: Try Again
      if: ${{ failure() && steps.noinstall.conclusion == 'failure' }}
      id: noinstall2
      run: steamcmd +@ShutdownOnFailedCommand 1 +@NoPromptForPassword 1 +login anonymous +app_update 3930080 validate +quit
      
    - name: Dump SteamCMD Logs
      if: ${{ failure() && steps.noinstall2.conclusion == 'failure' }}
      run: cat $env:STEAMCMD/logs/*
      
    - name: Build Bep6
      run: dotnet build -c Release-Bep6
      env:
        NUCLEAR_OPTION_REFERENCES: ${{ env.STEAMCMD }}/steamapps/common/NuclearOptionServer/NuclearOptionServer_Data/Managed/
    
    - name: Build Bep5
      run: dotnet build -c Release-Bep5
      env:
        NUCLEAR_OPTION_REFERENCES: ${{ env.STEAMCMD }}/steamapps/common/NuclearOptionServer/NuclearOptionServer_Data/Managed/
      
    - name: Test
      run: dotnet test --no-build --verbosity normal
      
    - name: Prepare Artifact
      run: |
        7z a -t7z -mx9 -mmt4 AtomicFramework-Bep5.7z ./bin/Release-Bep5/BepInEx/
        7z a -t7z -mx9 -mmt4 AtomicFramework-Bep6.7z ./bin/Release-Bep6/BepInEx/
    
    - name: Upload Artifact Bep5
      uses: actions/upload-artifact@v4
      with:
        name: AtomicFramework-Bep5.7z
        path: AtomicFramework-Bep5.7z
        if-no-files-found: error
        compression-level: 0 # It's already compressed
        
    - name: Upload Artifact Bep6
      uses: actions/upload-artifact@v4
      with:
        name: AtomicFramework-Bep6.7z
        path: AtomicFramework-Bep6.7z
        if-no-files-found: error
        compression-level: 0 # It's already compressed

    - name: Add Release Artifact
      if: ${{ github.event_name == 'release' }}
      uses: softprops/action-gh-release@6cbd405e2c4e67a21c47fa9e383d020e4e28b836
      with:
        files: |
            AtomicFramework-Bep5.7z
            AtomicFramework-Bep6.7z
        fail_on_unmatched_files: true
