# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

# TODO: Extract common actions to reusable workflow

name: Build Plugin

permissions:
    contents: write

on: # TODO: When release is drafted, build, attest, and attach
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  release:
    types: [ published ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8
    
    - name: Get Latest 7zip
      run: |
        echo "4ca3b7c6f2f67866b92622818b58233dc70367be2f36b498eb0bdeaaa44b53f4  7z2501-linux-x64.tar.xz" > hash
        wget https://www.7-zip.org/a/7z2501-linux-x64.tar.xz
        sha256sum -c hash
        tar -xvf 7z2501-linux-x64.tar.xz 7zz
        rm 7z2501-linux-x64.tar.xz
        rm hash
        chmod +x ./7zz
    
    - name: Prepare APT
      run: |
        sudo add-apt-repository multiverse
        sudo dpkg --add-architecture i386
        sudo apt update
        
    - name: Accept Steam License
      run: echo steam steam/question select "I AGREE" | sudo debconf-set-selections
    
    - name: Install SteamCMD
      run: sudo apt-get install steamcmd
    
    - name: Install Nuclear Option
      id: noinstall
      run: steamcmd +login anonymous +app_update 3930080 validate +quit
      
    - name: Try Again
      if: ${{ failure() && steps.noinstall.conclusion == 'failure' }}
      id: noinstall2
      run: steamcmd +login anonymous +app_update 3930080 validate +quit
      
    - name: Dump SteamCMD Logs
      if: ${{ failure() && steps.noinstall2.conclusion == 'failure' }}
      run: cat /home/runner/.local/share/Steam/logs/*
      
    - name: Build Bep6
      run: dotnet build -c Release-Bep6
      env:
        NUCLEAR_OPTION_REFERENCES: /home/runner/.local/share/Steam/steamapps/common/NuclearOptionServer/NuclearOptionServer_Data/Managed/
    
    - name: Build Bep5
      run: dotnet build -c Release-Bep5
      env:
        NUCLEAR_OPTION_REFERENCES: /home/runner/.local/share/Steam/steamapps/common/NuclearOptionServer/NuclearOptionServer_Data/Managed/
      
    - name: Test
      run: dotnet test --no-build --verbosity normal
      
    - name: Prepare Artifact
      run: |
        ./7zz a -t7z -mx9 -mmt4 AtomicFramework-Bep5.7z ./bin/Release-Bep5/BepInEx/
        ./7zz a -t7z -mx9 -mmt4 AtomicFramework-Bep6.7z ./bin/Release-Bep6/BepInEx/
    
    - name: Upload Artifact Bep5
      uses: actions/upload-artifact@v4
      with:
        name: AtomicFramework-Bep5.7z
        path: AtomicFramework-Bep5.7z
        if-no-files-found: error
        compression-level: 0 # It's already compressed
        
    - name: Upload Artifact Bep6
      uses: actions/upload-artifact@v4
      with:
        name: AtomicFramework-Bep6.7z
        path: AtomicFramework-Bep6.7z
        if-no-files-found: error
        compression-level: 0 # It's already compressed

    - name: Add Release Artifact
      if: ${{ github.event_name == 'release' }}
      uses: softprops/action-gh-release@6cbd405e2c4e67a21c47fa9e383d020e4e28b836
      with:
        files: |
            AtomicFramework-Bep5.7z
            AtomicFramework-Bep6.7z
        fail_on_unmatched_files: true
